/* MAIN PAGE OF SUDOKU PUZZLE GAME */

.hidden {
    display: none;
}

header {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 3px solid brown;
}

h1 {
    font-size: 34pt;
}

.github {
    text-align: center;
    margin-bottom: 12px;
}

#setup-game {
    display: flex;
    justify-content: center;
}

#setup-game>* {
    font-size: 18px;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
}

button {
    justify-self: center;
}

p#timer,
p#lives {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

#game {
    display: flex;
    justify-content: center;
}

#number-container>p {
    border: 1px solid black;
    border-radius: 20%;
    width: 60px;
    height: 60px;
    font-size: 40pt;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

#board {
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    width: 600px;
    height: 600px;
}

.tile {
    border: 1px solid black;
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 0px;
    vertical-align: middle;
    font-size: 40pt;
}

p.selected {
    background-color: lightblue;
}

p.incorrect {
    color: red;
}

.rightBorder {
    border-right: 4px solid black;
}

.bottomBorder {
    border-bottom: 4px solid black;
}

.green-text {
    color: ForestGreen;
}

footer {
    background-color: #235fdf;
    color: white;
    text-align: center;
}


/* SNACKBAR & TOAST */

.snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    text-align: center;
    border-radius: 3px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 25px;
    font-weight: bold;
}

#snackbar-win.snackbar {
    background-color: #26C6DA;
    color: black;
}

#snackbar-lose.snackbar {
    background-color: #ff69b4;
    color: black;
}

#snackbar-win.snackbar.show,
#snackbar-lose.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}


/* PROGRESS BAR */

#progress {
    width: 90%;
    height: 20px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid blue;
}

#progress-bar {
    height: 20px;
    background-color: blue;
    border-radius: 10px;
}